#about {
	background: #fff;
	overflow: hidden;
}

#about h1 {
	padding-top: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}
.about__icon {
    margin: 7% 5% 0 3%
}

.polaroid img {
	display: block;
	max-width: 200px;
}

.polaroid span {
	background: #ffffff;
	display: inline-block;
	margin: 55px 75px 30px;
	padding: 15px 15px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.icon-group > svg {
    display: "inline-block";
    margin-left: 5px;
}
.card-body > p {
    margin-top: 25px;
    height: auto;
    font-size: 132%;
    line-height: 200%;
}
.wave {
	font-size: 200%;
}
.cv-button-group{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.cv-button {
    width: 300px;
	background-color: #e9d5a1 !important;
	color: #353239 !important;
}

.cv-button > svg {
    margin-right: 8px;
}

.cv-button > small {
    font-weight: bold !important;
	font: 12px/16px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}