#workexperience {
	background: #e9d5a1;
	overflow: hidden;
}

#workexperience h1 {
	padding-top: 5%;
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

.first-icon{
    background: rgb(174, 148, 79);
    color: rgb(255, 255, 255);
    text-align: center;
}